<div class="list-group">
  <a class="list-group-item list-group-item-action">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </a>
  <a data-href="home.html" class="home list-group-item list-group-item-action">
    Home
  </a>
  <a data-href="gallery.html" class="gallery list-group-item list-group-item-action">
    Gallery
  </a>
  <a data-href="video.html" class="video list-group-item list-group-item-action">
    Video
  </a>
  <a data-href="calculator.html" class="calculator list-group-item list-group-item-action">
    Calculator
  </a>
</div>
<script>
  $(document).ready(function () {
    let _full_url = new URL(window.location.href);
    let _class = _full_url.searchParams.get('pages').split('.')[0];

    $(`.${_class}`).addClass('active');
  });
</script>